# Nginx
NGINX_TAG=1.30-alpine
PROXY_HTTP_PUBLISHED_PORT=8080

# Asp.NET Core
ASPNETCORE_ENVIRONMENT=Development

# PostgreSQL
# POSTGRES_TAG=18-alpine // 18 всегда, иначе придется изменять docker compose postgres блок
POSTGRES_DB=nextalk
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_TAG=8.6.2-alpine

# Database connections
ZITADEL_DATABASE_POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/zitadel?sslmode=disable
NEXTALK_DATABASE_POSTGRES_DSN=Host=postgres;Port=5432;Database=nextalk;Username=postgres;Password=postgres;SSL Mode=Disable

# Zitadel
ZITADEL_TAG=v4.13.1
ZITADEL_DOMAIN=localhost
ZITADEL_EXTERNALPORT=8080
ZITADEL_EXTERNALSECURE=false
ZITADEL_PUBLIC_SCHEME=http
# Masterkey должен быть 32 символа, иначе ZITADEL не запустится
ZITADEL_MASTERKEY=MasterkeyNeedsToHave32Characters
LOGIN_CLIENT_PAT_EXPIRATION=2099-12-31T23:59:59Z

# Zitadel access logs
ZITADEL_ACCESS_LOG_STDOUT_ENABLED=true

# LiveKit - должны совпадать с keys в infra/livekit/livekit.yaml
LIVEKIT_IMAGE=v1.11
LIVEKIT_API_KEY=devkey
LIVEKIT_SECRET_KEY=devsecretdevsecretdevsecretdevsecret12

# React SPA build args
# VITE_OIDC_CLIENT_ID создается в Zitadel Console -> Applications -> User Agent (PKCE)
VITE_OIDC_CLIENT_ID=373389846695116805
VITE_USE_AUTH_MOCK=false
VITE_OIDC_REDIRECT_URI=http://localhost:8080/callback
