@import '../../../shared/styles/variables';

.container {
  background: $bg-secondary;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 4px 4px 20px;
  width: 100%;
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  color: $text-primary;
  font-size: 14px;
  padding: 12px 0;
  outline: none;

  &::placeholder {
    color: $text-secondary;
  }
}