#LiveKit signaling WebSocket
VITE_LIVEKIT_URL=ws://localhost:8080/livekit

# Zitadel OIDC
VITE_OIDC_AUTHORITY=http://localhost:8080
VITE_OIDC_CLIENT_ID=371912404084195334
VITE_OIDC_REDIRECT_URI=http://localhost:8080/callback

VITE_USE_AUTH_MOCK=false

# API через nginx
VITE_API_URL=http://localhost:8080
VITE_WS_URL=ws://localhost:8080/ws
